.character-detail-page {
  background-color: var(--secondary);
  width: 1400px;
  min-height: 100vh;
  overflow: hidden;
}

.character-detail {
  height: fit-content;
  width: 100%;
}

.vision-avatar {
  background-color: var(--primary);
  border-radius: 100%;
}

.character-avatar {
  border-radius: 100%;
}

.character-detail-name {
  font-family: var(--font-acme);
  font-size: 2.5em;
}

.character-detail-item {
  background-color: var(--primary);
  width: 500px;
  height: 350px;
}

.character-info {
  background-color: var(--primary);
}

.lang {
  font-family: var(--font-roboto);
  color: gray;
}

.va {
  font-family: var(--font-roboto);
}

.link {
  color: var(--tertiary);
  text-decoration: none;
}

.link:hover {
  color: white;
}

.list-view {
  font-family: var(--font-roboto);
  color: var(--tertiary);
}

.tags {
  background-color: var(--primary);
  color: var(--tertiary);
  padding: 0.5rem 1.5rem;
  border-radius: 10px;
  font-family: var(--font-acme);
  letter-spacing: 1px;
  border: 1px solid black;
}

.divider {
  font-family: var(--font-acme);
}

.dish-pop-up {
  border: 1px solid white;
}

.rarity-5 .character-avatar {
  background: linear-gradient(145deg, #e7944a, #b56a2b);
  box-shadow: 0px 0px 15px rgba(231, 148, 74, 0.8),
    0px 0px 30px rgba(231, 148, 74, 0.5);
}

.rarity-4 .character-avatar {
  background: linear-gradient(145deg, #9b72d5, #7149a3);
  box-shadow: 0px 0px 15px rgba(155, 114, 213, 0.8),
    0px 0px 30px rgba(155, 114, 213, 0.5);
}
