.character-page {
  min-height: 100vh;
  width: 1400px;
}

/*Offset*/
.character-page-offset {
  background-color: darkcyan;
  flex: 1.5;
}

/*Main*/
.character-main-content {
  flex: 4;
}

/*Character Card*/
.character-card {
  height: 250px;
  border: 2px solid black;
  border-radius: 0.75rem;
}

.card-top {
  background-color: var(--secondary);
  flex: 4;
  overflow: hidden;
  align-items: center;
  justify-content: space-between;
}

.card-bottom {
  background-color: var(--filter-color);
  flex: 2;
  border-top: 1px solid black;
}

.no-more-character {
  background-color: var(--secondary);
  color: var(--tertiary);
  font-family: var(--font-acme);
  border: 2px solid black;
}

/*Card Top Content*/
.character-avatar {
  height: 100px;
  width: 100px;
  border-radius: 100%;
}

.character-page-name {
  font-family: var(--font-roboto);
  font-size: 2.5rem;
}

.character-splash-art {
  height: 275px;
  width: auto;
  opacity: 0.66;
}

/*Card Bottom Content*/
.vision-image {
  height: 50px;
  background-color: var(--primary);
  border-radius: 100%;
  border: 1px solid black;
}

.tags p,
.release-wrapper {
  background-color: var(--primary);
  padding: 0.5rem 1rem;
  border-radius: 5px;
  border: 1px solid black;
  color: var(--tertiary);
  font-family: var(--font-roboto);
  letter-spacing: 1px;
}

.release-text {
  color: gray;
}

/*Rarity BG Color Classes*/
.rarity-5.character-avatar {
  background: linear-gradient(145deg, #e7944a, #b56a2b);
  box-shadow: 0px 0px 15px rgba(231, 148, 74, 0.8),
    0px 0px 30px rgba(231, 148, 74, 0.5);
}

.rarity-4.character-avatar {
  background: linear-gradient(145deg, #9b72d5, #7149a3);
  box-shadow: 0px 0px 15px rgba(155, 114, 213, 0.8),
    0px 0px 30px rgba(155, 114, 213, 0.5);
}
